apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
        - name: my-app
          image: 18.118.36.159:8081/repository/test/my-app:latest
          ports:
            - containerPort: 80
       imagePullSecrets:
        - name: my-registry-secret
